@model Smart_Binance.Models.ViewModels.TokenViewModel
@{
    ViewData["Title"] = "Sell";
}
<link href="~/lib/CustomCSS/InputTabs.css" rel="stylesheet" />
<script>
    var lastPrice = '@Model.LastPrice';
    var amount = '@Model.Amount';
</script>
<script src="~/js/SellComponent/SellComponent.js"></script>
<style>
    #button-basepercent-10-sell {
        line-height: 10px;
        width: 4em;
        border: 1px solid black;
        height: 2em;
        background-color: white;
    }

    #button-basepercent-25-sell {
        line-height: 10px;
        width: 4em;
        border: 1px solid black;
        height: 2em;
        background-color: white;
    }

    #button-basepercent-50-sell {
        line-height: 10px;
        width: 4em;
        border: 1px solid black;
        height: 2em;
        background-color: white;
    }

    #button-basepercent-100-sell {
        line-height: 10px;
        width: 4em;
        border: 1px solid black;
        height: 2em;
        background-color: white;
    }

    #button-basepercent-10-sell.active {
        background-color: rgb(245,188,0,0.7);
        color: white;
    }

    #button-basepercent-25-sell.active {
        background-color: rgb(245,188,0,0.7);
        color: white;
    }

    #button-basepercent-50-sell.active {
        background-color: rgb(245,188,0,0.7);
        color: white;
    }

    #button-basepercent-100-sell.active {
        background-color: rgb(245,188,0,0.7);
        color: white;
    }
</style>
<div id="marketbody" class="marketbodyClass">
    <form action="CreateBuy">
        <div id="input-padd">
            <h4 id="form-lables" style="font-size:15px">Units</h4>
            <center>
                <input class="form-control" id="amount-sell" type="text" placeholder="0.000" value="@Model.Amount" />
            </center>
        </div>
        <div id="input-padd">
            <h4 id="form-lables" style="font-size:15px">Price</h4>
            <center>
                <input id="lastprice-sell" class="form-control" type="text" placeholder="0.000" value="@Model.LastPrice.ToString("0.###############")" disabled />
            </center>
        </div>
        <div style="padding-top:1em">
            <center>
             
                <div class="btn-group" role="group" id="PercentTypeGroup-sell" data-toggle="button" aria-label="Basic example">
                    <button id="button-basepercent-10-sell" type="button" class="btn percTypeBtn" value="0.1">10%</button>
                    <button id="button-basepercent-25-sell" type="button" class="btn percTypeBtn" value="0.25">25%</button>
                    <button id="button-basepercent-50-sell" type="button" class="btn percTypeBtn" value="0.50">50%</button>
                    <button id="button-basepercent-100-sell" type="button" class="btn percTypeBtn" value="1">100%</button>
                </div>
            </center>
        </div>
    </form>
</div>

