@{
    ViewData["Title"] = "Activate Stop";
    Layout = null;
}
<script src="~/js/ActivateComponent/ActivateComponent.js"></script>
<style>
    #activatestop {
        outline: none;
    }

    #activatestop:hover {
        background: #f5bc00;
        color: white;
        outline: none;
    }
</style>
<div style="height:300px; width:100%; background-color: rgba(234, 234, 234, 0.50); border-radius:2em">
    <div style="padding-top:35%">
        <center>
            <button id="activatestop" class="btn btn-default" style="border-radius:1em" value="false">Set Stop</button>
        </center>
    </div>
</div>
