@{
    ViewData["Title"] = "Activate Take";
    Layout = null;
}
<script src="~/js/ActivateTakeComponent/ActivateTakeComponent.js"></script>
<style>
    #activatetake {
        outline: none;
    }
    #activatetake:hover {
        background: #f5bc00;
        color: white;
        outline:none;
    }
</style>
<div style="height:300px; width:100%; background-color: rgba(234, 234, 234, 0.50); border-radius:2em">
    <div style="padding-top:35%">
        <center>
            <button id="activatetake" class="btn btn-default" style="border-radius:1em" value="false">Set Take</button>
        </center>
    </div>
</div>
