<script>
    $("#acceptcanceltrade").click(function () {
        $.post("@Url.Action("CancelTrade","Dashboard")", { id: $("#cancelconfirmmodal").val()} ,function(){
            $("#cancelconfirmmodal").modal('hide');
            RefreshTradesComponent();
        });
    });
</script>
<div class="container" style="padding-top:300px; width:30%">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <h3>Cancel Smart Trade</h3>
                </center>
                <hr />
                <div>
                    <div class="modal-body">
                        <center>
                            <button id="acceptcanceltrade" type="button" class="btn btn-success" style="border-radius:0.5em; outline:none">Confrim</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
