<script>
    $("#acceptselltrade").click(function () {
        $.post("@Url.Action("SellTrade","Dashboard")", { id: $("#sellconfirmmodal").val()} ,function(){
            $("#sellconfirmmodal").modal('hide');
            RefreshTradesComponent();
        });

    });
</script>
<div class="container" style="padding-top:300px; width:30%; border-radius:0.5em">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="modal-content" style="border-radius:0.5em">
            <div class="modal-header" style="border-radius:0.5em">
                <center>
                    <h3>Sell Asset at Market</h3>
                </center>
                <hr />
                <div>
                    <div class="modal-body" style="border-radius:0.5em">
                        <center>
                            <button id="acceptselltrade" type="button" class="btn btn-danger" style="border-radius:0.5em; outline:none">Confrim</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
