@model Smart_Binance.Models.ViewModels.TokenViewModel 
@{
    ViewData["Title"] = "GetZILPrice";
    Layout = null;
}

<div>
    <form action="CreateBuy">
        <div id="input-padd">
            <h4 id="form-lables" style="font-size:15px">Units</h4>
            <center>
                <input class="form-control" type="text" placeholder="0.000" />
            </center>
        </div>
        <div id="input-padd">
            <h4 id="form-lables" style="font-size:15px">Price</h4>
            <center>
                <input class="form-control" type="text" placeholder="0.000" />
            </center>
        </div>
        <div id="input-padd">
            <h4 id="form-lables" style="font-size:15px">Total</h4>

            <center>
                <input class="form-control" type="text" placeholder="0.000" />
            </center>

        </div>
    </form>
</div>

