
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div style="height:200px; width:100%; border-radius:2em; background-color:#e6e6e6">

</div>