@model Smart_Binance.Models.ViewModels.TradeConditionsViewModel
@{
    ViewData["Title"] = "Stop Loss";
}
<link href="~/lib/CustomCSS/InputTabs.css" rel="stylesheet" />
<script src="~/js/StopLossComponent/StopLossComponent.js"></script>
<script>
    var initialPrice = '@Model.Price';
    var priceDecimal = '@Model.PriceDecimal';
</script>
<style>
    input[type='number'] {
        -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .slidecontainer-stop {
        position: unset;
        width: 100%;
    }

    .slider-stop {
        -webkit-appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 5px;
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        position: unset;
    }

        .slider-stop:hover {
            opacity: 1;
        }

        .slider-stop::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: red;
            cursor: pointer;
        }
</style>
<div id="input-padd">
    <h4 id="form-lables" style="font-size:15px">Price</h4>
    <center>
        <input id="price-stoploss" class="form-control" type="text" placeholder="0.000" value="@Model.Price" />
    </center>
    <script>
        if (initialPrice != 0) {
            InitialTPStop();
        }
    </script>
</div>
<center>
    <div class="row">
        <div class="col-xs-8">
            <div class="slidecontainer-stop" style="padding-top:13%; float:right">
                <input type="range" min="-100" max="-0" value="-5" class="slider-stop" id="myRange-stoploss">
            </div>
        </div>
        <div class="col-xs-3">
            <div style="padding-top:25%">
                <input id="stockstoplosspercentbox" class="form-control" style="color:red" type="number" value="-5" />
            </div>
        </div>
        <div class="col-xs-1" style="padding:0px">
            <div style="padding-top:25%; padding:0px">
                <p style="padding-top:1.2em; font-size:1.3em; float:left">%</p>
            </div>
        </div>
    </div>
</center>
